html,
body {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.redd.it/o6lintmgye981.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #f5f5f5;
    font-family: montserrat, sans-serif;
    cursor: default;
    text-transform: capitalize;
    height: 100%;
}

button {
    border: none;
    background: none;
}

button:hover {
    cursor: pointer;
}

button:active {
    filter: invert(75%) sepia(43%) saturate(4921%) hue-rotate(0deg) brightness(104%) contrast(101%);
}

.max-width {
    width: min(80rem, 90%);
    margin-inline: auto;
}

.top-content {
    display: flex;
    justify-content: space-between;
    height: 60%;
    margin: 3rem;
}

.upper-left-container {
    display: flex;
    flex-direction: column;
}

.name_country {
    font-size: 4rem;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 0rem;
    margin-top: 0;
    padding-top: 0;
    display: flex;
    flex-direction: row;
}

.country {
    font-size: 1rem;
    margin-left: 0.5rem;
}

.date,
.day,
.time {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: .5rem;
    padding-top: 0;
}

.clouds {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
}

#current-cloud {
    height: 8rem;
}

.temp {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 0.2rem;
}

.unit {
    margin-bottom: 2.5rem;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.unit-metric,
.unit-imperial {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.search-location-container {
    margin-top: 1rem;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-location-input {
    height: 100%;
    flex-shrink: 2;
    max-width: 250px;
    background-color: transparent;
    border: none;
    color: #f5f5f5;
    font-size: 1rem;
    font-weight: 600;
    border-bottom: 2px solid #f5f5f5;
}

.search-location-input:focus {
    outline: none;
}

.search-location-button {
    background-image: url(./Assets/magnify.svg);
    height: 2rem;
    width: 2rem;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(112%) contrast(109%);
}

.search-location-error {
    font-size: 0.8rem;
}

.upper-right-container {
    display: flex;
    flex-direction: column;
}

.feels_like,
.humidity,
.wind {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    display: flex;
}

.bottom-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5rem;
}

.daily-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.daily_0_day,
.daily_1_day,
.daily_2_day,
.daily_3_day,
.daily_4_day,
.daily_5_day,
.daily_6_day {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.daily_0_high_temp,
.daily_1_high_temp,
.daily_2_high_temp,
.daily_3_high_temp,
.daily_4_high_temp,
.daily_5_high_temp,
.daily_6_high_temp {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0rem;
}

.daily_0_low_temp,
.daily_1_low_temp,
.daily_2_low_temp,
.daily_3_low_temp,
.daily_4_low_temp,
.daily_5_low_temp,
.daily_6_low_temp {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.daily_0_clouds,
.daily_1_clouds,
.daily_2_clouds,
.daily_3_clouds,
.daily_4_clouds,
.daily_5_clouds,
.daily_6_clouds {
    font-size: 1rem;
    font-weight: 500;
}

#daily_0_clouds,
#daily_1_clouds,
#daily_2_clouds,
#daily_3_clouds,
#daily_4_clouds,
#daily_5_clouds,
#daily_6_clouds {
    height: 5rem;
}